
@{
    ViewBag.Title = "Online Books Store HomePage";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Building Ecommerce apps</h2>
    <p>
        This is a demo Ecommerce app
    </p>
    <p>
        This has Shopping cart with checkout options and details come with all other things so wanna see the taste of this app....
    </p>
    <ul class="list">
        <li>Lets see the demo</li>
        <li>Using MVC</li>
        <li>We will work with EF</li>
    </ul>
</body>
</html>

