
@model ISkillsMyApp.Models.ShoppingCartModel

<div class="navbar-right" style="margin-left:7px">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Cart:</b>
    @Model.Items.Sum(x => x.Quantity) item(s),
    @Model.GetCartTotal().ToString("c")
</div>